*{

    padding:0;
    margin: 0;
}
body{
    background-image: url(./ROOM\ GYM.jpg);
    background-size: 100%;
    color:white;
    border: 6px;
   
}
.text {
    font:size 50px; 
}
.text h1{
    font-size: 30px;
    

}
.text p{
    font-size: 40px;
    margin-top: 30px;
    color:whitesmoke;
    text-align: center;
    
}

div span{
    font-size: 50px;
    color:rgb(202, 32, 32);

    
}


    




















    

    
 
